extends layout

block content
  h1= title
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
      tbody
        each book in books
          tr.data-row
            td.title
              a(href="/books/" + book.id)= book.title
            td.author= book.author 
            td.genre= book.genre
            td.year= book.year
  
  .pagination
    ul.link-list

  
  script(src='/javascripts/script.js')
  
